@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

:root {
    --min-page-width : 550px;
    --max-page-width : 50%;
    --text-color : black;
    --color-primary : green;
    --hover-bg: #f9f9f9;
    --double-hover-bg: #e9e9e9;
    --social-icon-color: #8c8c8c;
}

@media screen and (max-width: 800px) {
    body {
        min-width: 80vw;
        max-width: 80vw;
        width: 80vw;
    }

    .main-title {
        font-size: 7vw;
    }
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

body {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 32px
}

.cursor-icon {
    position: relative;
    width: 16px;
    height: 8px;
    top: 4px;
}

/* Main title */

.main-title {
    font-family: 'Ubuntu Mono', monospace;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: var(--text-color);
}

.main-title a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    margin: auto;
    width: 100%;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.navbutton {
    transition: background-color 0.25s, box-shadow 0.25s;
    background-color: transparent;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbutton a {
    text-decoration: none;
    color: var(--text-color);
}

.full-rounded {
    border-radius: 10px 10px 10px 10px;
}

.submenu-button {
    border-radius: 10px 10px 0px 0px;
}
  
.dropdown-content {
    transition: visibility 0.25s, opacity 0.25s;
    border-radius: 0px 10px 10px 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: var(--hover-bg);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    transition: color 0.25s, background-color 0.25s;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.dropdown-content a:hover {
    color: var(--color-primary);
    background-color: var(--double-hover-bg);
}
  
.dropdown:hover .dropdown-content {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    visibility: visible;
    opacity: 100%;
}

.dropdown:hover .navbutton {
    background-color: var(--hover-bg);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .navbutton a {
    color: var(--color-primary);
}

/* Social */

.social {
    margin: auto;
    width: 100%;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.fa {
    transition: background-color 0.25s, box-shadow 0.25s, color 0.25s;
    border-radius:50%;
    padding: 8px;
    width: 24px;
    text-align: center;
    text-decoration: none;
    color: var(--social-icon-color);
}

.fa:hover {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.fa-github:hover {
    background-color: black;
    color: white;
}

.fa-linkedin:hover {
    background-color: cornflowerblue;
    color: white;
}

/* About */

.about-container {
    width: 100%;
    min-height: 200px;
}

.propic-container {
    width: auto;
    float: left;
    position: relative;
    text-align: center;
}

.propic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 16px;
}

.timeline {
    border-left: 4px solid var(--color-primary);
    width: 100%;
    position: relative;
    list-style: none;
    padding: 16px;
}

.event {
    margin-left: 0px;
    margin-top: 1em;
    text-align: left;
    position: relative;
}

.event fieldset {
    border: 1px solid var(--social-icon-color);
}

.event:after {
    content: "";
    position: absolute;
    display: block;
    left: -26px;
    width: 8px;
    top: 2px;
    height: 8px;
    background-color: white;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .propic-container {
        width: 100%;
    }
}

/* Miscellaneous */


