@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

:root {
    --min-page-width : 550px;
    --max-page-width : 50%;
    --text-color : black;
    --color-primary : green;
}

@media screen and (max-width: 768px) {
    .content {
        background-color: pink;
        width: 80vw;
    }
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.content {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 32px
}

.cursor-icon {
    position: relative;
    width: 16px;
    height: 8px;
    top: 4px;
}

/* Main title */

.main-title {
    font-family: 'Ubuntu Mono', monospace;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: var(--text-color);
}

.main-title a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    margin: auto;
    width: 100%;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.navbutton {
    transition: background-color 0.25s, box-shadow 0.25s;
    background-color: transparent;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbutton a {
    text-decoration: none;
    color: var(--text-color);
}

.full-rounded {
    border-radius: 10px 10px 10px 10px;
}

.submenu-button {
    border-radius: 10px 10px 0px 0px;
}
  
.dropdown-content {
    transition: visibility 0.25s, opacity 0.25s;
    border-radius: 0px 10px 10px 10px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    text-align: left;
    padding: 12px;
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.dropdown-content a:hover {
    color: var(--color-primary);
}
  
.dropdown:hover .dropdown-content {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    visibility: visible;
    opacity: 100%;
}

.dropdown:hover .navbutton {
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .navbutton a {
    color: var(--color-primary);
}

/* Social */

.social {
    text-align: center;
    text-decoration: none;
}

.fa {
    transition: background-color 0.25s, box-shadow 0.25s;
    border-radius:50%;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.fa:hover {
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.fa-linkedin {
    color: cornflowerblue;
}

/* Miscellaneous */


