@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

@import "const.css";
@import "navbar.css";
@import "timeline.css";
@import "propic.css";
@import "social.css";

@media screen and (max-width: 800px) {
    body {
        min-width: 80vw;
        max-width: 80vw;
        width: 80vw;
    }

    .main-title {
        font-size: 7vw;
    }
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

body {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 32px
}

.cursor-icon {
    position: relative;
    width: 16px;
    height: 8px;
    top: 4px;
}

/* Main title */

.main-title {
    font-family: 'Ubuntu Mono', monospace;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: var(--text-color);
}

.main-title a {
    text-decoration: none;
}

/* Miscellaneous */


