@import "const.css";

.navbar {
    margin: auto;
    width: 100%;
    text-align: center;
}

.navitem {
    position: relative;
    display: inline-block;
}

.navbutton {
    transition: background-color 0.25s, box-shadow 0.25s;
    background-color: transparent;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.navbutton-current {
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: default;
    text-decoration: none;
    color: var(--light-gray);
    background-color: var(--color-primary);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.full-rounded {
    border-radius: 10px 10px 10px 10px;
}

/* When hovering over the whole dropdown, highlight links */
.navitem:hover .navbutton {
    background-color: var(--light-gray);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.navitem:hover .navlink {
    color: var(--color-primary);
}