@import "const.css";

.projects-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.project {
    flex: 50%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 50%;
    box-sizing: border-box;
}

.project-card {
    transition: background-color 0.25s, box-shadow 0.25s;
    background-color: transparent;
    border-radius: 16px;
    padding: 16px;
    color: var(--text-color);
}

.project-card:hover {
    background-color: var(--light-gray);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.project-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Only one column and no ellipsis when mobile */

@media screen and (max-width: 800px) {
    .project {
        flex: 100%;
        max-width: 100%;
    }

    .project-title {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    .project-desc {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }
}