# Jekyll cache and website preview.
.jekyll-cache
.jekyll-cache/
.jekyll-metadata
_site
_site/

# Post drafts.
_posts/*draft.md

# VSCode stuff.
.vscode/

# Script to start the web-server preview.
start.bat

# Gemfile not needed
Gemfile.lock