<nav class="navbar">
    {% for item in site.data.pages.pages %}
        {% if item.name == page.title %}
            <div class="navitem">
                <button class="navbutton-current full-rounded">
                    <b>{{ item.name }}</b>
                </button>
            </div>
        {% else %}
            {% if item.sub %}
            <!-- Missing dropdown menu implementation -->
            {% else %}
            <div class="navitem">
                {% if item.url %}
                    <a class="navlink" href="{{ item.url | relative_url }}">
                {% endif %}

                <button class="navbutton full-rounded">
                    {{ item.name }}
                </button>

                {% if item.url %}
                    </a>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</nav>