---
title: Blog
layout: default
---
{% for post in paginator.posts %}
    {% include postpreview.html %}
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <div class="page-container">
        <a href="{{ paginator.previous_page_path | relative_url }}">
            <div class="page">&laquo;</div>
        </a>
    </div>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <div class="page-container">
        <div class="current-page">{{ page }}</div>
    </div>
    {% elsif page == 1 %}
    <div class="page-container">
        <a href="{{ '/blog/index.html' | relative_url }}">
            <div class="page">{{ page }}</div>
        </a>
    </div>
    {% else %}
    <div class="page-container">
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
            <div class="page">{{ page }}</div>
        </a>
    </div>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <div class="page-container">
        <a href="{{ paginator.next_page_path | relative_url }}">
            <div class="page">&raquo;</div>
        </a>
    </div>
    {% endif %}
</div>
{% endif %}