---
title: About
layout: default
---
<div class="about-container">
    <div class="propic-container">
        <img src="assets/martora.jpg" class="propic" />
        <div
            style="background-color: white; margin-top: -50px; position: absolute; left: 50%; transform: translateX(-50%);">
            [Placeholder]</div>
    </div>
    {{ content }}
</div>
<div class="timeline-container">
    <h1>Timeline</h1>
    <ul class="timeline">
        {% for event in site.data.roadmap.roadmap %}
        <li class="event">
            <fieldset>
                <legend><i>{{ event.date }}</i></legend>
                {{ event.event }}
            </fieldset>
        </li>
        {% endfor %}
    </ul>
</div>