---
title: About
layout: default
---
<div class="about-container">
    <img src="/assets/profile.jpg" class="propic" />
    <div class="quote-container">
        <div>
            {% for quote in site.data.quotes %}
            <blockquote>
            {{ quote.quote }}
            </blockquote>
            - {{ quote.author }}
            {% endfor %}
        </div>
    </div>
</div>
{{ content }}
<div class="timeline-container">
    <h1>Relevant life events</h1>
    <ul class="timeline">
        {% for event in site.data.roadmap.roadmap %}
        <li class="event">
            <fieldset>
                <legend><i>{{ event.date }}</i></legend>
                {{ event.event }}
            </fieldset>
        </li>
        {% endfor %}
    </ul>
</div>