---
title: Projects
layout: default
---
<div class="projects-container">
    {% for proj in site.data.projects.projects %}
        <div class="project">
            <a href="{{ proj.url }}">
                <div class="project-card">
                    <img src="{{ proj.thumbnail }}" class="project-thumb"/>
                    <div class="below-proj-thumb">
                        <h4 class="project-title">{{ proj.name }}</h4>
                        <div title="{{ proj.description }}" class="project-desc">{{ proj.description }}</div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>